@charset "UTF-8";

/* Form Styles */
form {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure that padding and border don't increase the element's width */
}

select {
    appearance: none; /* Remove default select arrow */
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="#000" d="M6 8l4 4 4-4"></path></svg>'); /* Custom select arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
}

/*
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
*/
/*edit部分*/

h2 {
    color: #ffffff;
    text-align: center; /* オプション: テキストを中央揃えにする */
    font-size: 30px;
    margin-bottom: 20px;
    line-height:0.95em;
    font-weight:bold;
    text-shadow: 0 0 0.2em rgba(255,255,255,1);
}

/* ボタンのスタイル */
input[type="submit"],
input[type="button"],
button {
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* 変更: ボタンの背景色 */
    color: #fff; /* 変更: ボタンの文字色 */
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

a {
    display: inline-block; /* ボタンとして扱うため */
    padding: 10px 20px; /* ボタンの余白 */
    background-color: #007bff; /* ボタンの背景色 */
    color: #ffffff; /* ボタンのテキスト色 */
    text-decoration: none;
    border-radius: 5px; /* 角丸 */
    transition: background-color 0.3s ease; /* ホバー時のアニメーション */
}

a:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}