@charset "UTF-8";

body {
    background-color: #2c3c85;
}

#header {
    color: #ffffff; /* テキストの色を白に設定 */
    text-align: center; /* テキストを中央揃えにする */
}

/* ページタイトル */
h2 {
    color: #ffffff;
    text-align: center; /* オプション: テキストを中央揃えにする */
    font-size: 80px;
    width: 100%;
    margin-bottom: 20px;
    line-height:0.95em;
    font-weight:bold;
    text-shadow: 0 0 0.2em rgba(255,255,255,1);
}

h4{
    color: #ffffff;
    font-weight: bold; /* 太字にする */
}

/* 学習ボタン外枠(仮) */
#headera{
    display: flex; /* Flexbox を使用 */
    flex-direction: column; /* 縦方向に配置 */
    align-items: center; /* 中央揃え */
    background-color: #1473c0;
    border-radius: 20px; /* 角を丸める */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* 下部に20pxのマージンを設定 */
}

/* 学習ボタン周り(仮) */
#studya {
    width: 95%; /* 全体の横幅の90% */
    max-width: 100%; /* 最大幅を設定 */
    margin-top: 20px; /* 上のマージンを設定 */
    background-color: #ffffff;
    border-radius: 20px; /* 角を丸める */
    margin-bottom: 20px; /* 下部に20pxのマージンを設定 */
    text-align: center; /* テキストを中央揃えにする */
}

/* 学習ボタン */
#study p {
    font-size: 50px; /* フォントサイズを大きくする */
    display: inline-block; /* インラインブロック要素にする */
    padding: 10px 20px; /* ボタンの余白 */
    background-color:#ffffff; /* 背景色 */
    color: #f60; /* テキスト色 */
    text-align: center; /* テキストを中央揃え */
    text-decoration: none; /* 下線を消す */
    border: none; /* ボーダーをなくす */
    border-radius: 100px; /* 角丸にする */
    cursor: pointer; /* カーソルをポインターに変更 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease; /* ホバー時のアニメーション */
}

#study p:hover {
    transform: translateY(-10px); /* ホバー時に少し浮き上がる効果 */
}

/* メイン部分 */
#main{
    display: flex; /* Flexbox を使用 */
    flex-direction: column; /* 縦方向に配置 */
    align-items: center; /* 中央揃え */
    background-color: #1473c0;
    border-radius: 20px; /* 角を丸める */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#index, #category {
    width: 95%; /* 全体の横幅の90% */
    max-width: 100%; /* 最大幅を設定 */
    margin-top: 20px; /* 上のマージンを設定 */
    background-color: #ffffff;
    border-radius: 20px; /* 角を丸める */
    margin-bottom: 60px; /* 下部に20pxのマージンを設定 */
    box-shadow:0 0 20px rgba(0,0,0,1);/* 浮き出るように影追加*/
}

#index:hover {
    transform: translateY(-10px); /* ホバー時に少し浮き上がる効果 */
}

#category:hover {
    transform: translateY(-10px); /* ホバー時に少し浮き上がる効果 */
}

/* リンクのスタイル */
a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #404040;
}

/* オーバーフローを防ぐためのclearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* 一覧ボタンへ */
#toindex a{
    text-align: right; /* 要素を右寄せにする */
}

#toindex a{
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius:0 100vh 100vh 0;
    cursor: pointer;
    font-weight: bold; /* フォントを太くする */
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute; /* 要素を親要素内で絶対配置 */
    right: 0; /* 要素を右端に配置 */
}

#toindex a:hover {
    background-color: #0056b3;
}

/*
#toindex{
  position: relative;
  display: inline-block;
  padding: 1rem 2rem 1rem 2rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #007bff;
  text-align: right;
}

#toindex:before{
  position: absolute;
  top: calc(50% - 7px);
  right: 30px;
  left: 30px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

#toindex:hover {
    background-color: #0056b3;
}

#toindex a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-align: left;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#toindex a:hover {
    background-color: #0056b3;
}
*/

/* 一覧 */

ul {
    padding: 10px;
    list-style-type: none;
    counter-reset: list;
    list-style: none;
    padding: 0;
    width: 350px;
    font: 14px/1.6 'arial narrow', sans-serif;
    margin: 0 0 0 35px;
    width: 315px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 3px 3px 3px 8px;
    margin: 8px 0 8px 30px;
    background: #f1f8ff;
    color: #333;
    font-weight: bold;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

li:hover {
    background: #ffd9d3;
}

li:before {
    content: counter(list);
    counter-increment: list;
    position: absolute;
    left: -35px;
    top: 50%;
    height: 28px;
    width: 28px;
    margin-top: -1em;
    background: #5c9ee7;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

li:after {
    content: '';
    position: absolute;
    left: -28px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

li:hover:after {
    left: -6px;
    border-left-color: #5c9ee7;
}