@charset "UTF-8";

body {
    background-color: #2c3c85;
}

#header {
    color: #ffffff; /* テキストの色を白に設定 */
    text-align: center; /* テキストを中央揃えにする */
}

/* ページタイトル */
h2 {
    color: #ffffff;
    text-align: center; /* オプション: テキストを中央揃えにする */
    font-size: 80px;
    width: 100%;
    margin-bottom: 20px;
    line-height:0.95em;
    font-weight:bold;
    text-shadow: 0 0 0.2em rgba(255,255,255,1);
}

h4{
    color: #ffffff;
    font-weight: bold; /* 太字にする */
}

/* 学習ボタン外枠(仮) */
#headera{
    display: flex; /* Flexbox を使用 */
    flex-direction: column; /* 縦方向に配置 */
    align-items: center; /* 中央揃え */
    background-color: #1473c0;
    border-radius: 20px; /* 角を丸める */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* 下部に20pxのマージンを設定 */
}

/* 学習ボタン周り(仮) */
#studya {
    width: 95%; /* 全体の横幅の90% */
    max-width: 100%; /* 最大幅を設定 */
    margin-top: 20px; /* 上のマージンを設定 */
    background-color: #ffffff;
    border-radius: 20px; /* 角を丸める */
    margin-bottom: 20px; /* 下部に20pxのマージンを設定 */
    text-align: center; /* テキストを中央揃えにする */
}

/* 学習ボタン */
p {
    font-size: 50px; /* フォントサイズを大きくする */
    display: inline-block; /* インラインブロック要素にする */
    padding: 10px 20px; /* ボタンの余白 */
    background-color:#ffffff; /* 背景色 */
    color: #f60; /* テキスト色 */
    text-align: center; /* テキストを中央揃え */
    text-decoration: none; /* 下線を消す */
    border: none; /* ボーダーをなくす */
    border-radius: 100px; /* 角丸にする */
    cursor: pointer; /* カーソルをポインターに変更 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease; /* ホバー時のアニメーション */
}

p:hover {
    transform: translateY(-10px); /* ホバー時に少し浮き上がる効果 */
}

/* メイン部分 */
#main{
    display: flex; /* Flexbox を使用 */
    flex-direction: column; /* 縦方向に配置 */
    align-items: center; /* 中央揃え */
    background-color: #1473c0;
    border-radius: 20px; /* 角を丸める */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#index h3 {
    font-weight: bold; /* 太字にする */
    color: #0079FF; /* 濃いスカイブルー色 */
}

#index, #category {
    width: 95%; /* 全体の横幅の90% */
    max-width: 100%; /* 最大幅を設定 */
    margin-top: 20px; /* 上のマージンを設定 */
    background-color: #ffffff;
    border-radius: 20px; /* 角を丸める */
    margin-bottom: 20px; /* 下部に20pxのマージンを設定 */
    box-shadow:0 0 20px rgba(0,0,0,1);/* 浮き出るように影追加*/
}

#index:hover {
    transform: translateY(-10px); /* ホバー時に少し浮き上がる効果 */
}

#category:hover {
    transform: translateY(-10px); /* ホバー時に少し浮き上がる効果 */
}

/* リンクのスタイル */
a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #404040;
}

/* オーバーフローを防ぐためのclearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* 単語一覧 */
#index {

}



/* ジャンル一覧 */
#category{

}


