@charset "UTF-8";

#study {
    width: 95%;
    max-width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
    /* 立体的なボタン効果 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

#study:hover {
    transform: translateY(-3px); /* ホバー時に少し浮き上がる効果 */
}