@charset "UTF-8";

h2 {
    color: #ffffff;
    text-align: center; /* オプション: テキストを中央揃えにする */
    font-size: 30px;
    margin-bottom: 20px;
    line-height:0.95em;
    font-weight:bold;
    text-shadow: 0 0 0.2em rgba(255,255,255,1);
}

#back {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#back:hover {
  background-color: #0056b3;
}

#back i {
  margin-right: 5px;
}

/* main */
#main{
    width: 50%; /* 全体の横幅の90% */
    max-width: 100%; /* 最大幅を設定 */
    margin: 20px auto; /* 上下20px、左右を自動で中央揃え */
    background-color: #ffffff;
    border-radius: 20px; /* 角を丸める */
    box-shadow: 0 0 20px rgba(0,0,0,1); /* 浮き出るように影追加 */
}

#main p {
    font-size: 25px;
    padding: 10px 20px; /* ボタンの余白 */
    display: inline-block; /* インラインブロック要素にする */
    padding: 10px 20px; /* ボタンの余白 */
    background-color:#007bff; /* 背景色 */
    text-align: center; /* テキストを中央揃え */
    color: #ffffff; /* ボタンのテキスト色 */
    border: none; /* ボーダーをなくす */
    border-radius: 5px; /* 角丸にする */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: background-color 0.3s ease; /* ホバー時のアニメーション */
    text-decoration: none; /* 下線を消す */
}

#main p:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

ul {
    padding: 10px;
    list-style-type: none;
    counter-reset: list;
    list-style: none;
    padding: 10;
    width: 350px;
    font: 14px/1.6 'arial narrow', sans-serif;
    margin: 0 0 0 35px;
    width: 315px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 3px 3px 3px 8px;
    margin: 8px 0 8px 60px;
    background: #f1f8ff;
    color: #333;
    font-weight: bold;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

li:hover {
    /*コンテンツボックスの色*/
    background: pink;
}

li:before {
    content: counter(list);
    counter-increment: list;
    position: absolute;
    left: -35px;
    top: 50%;
    height: 28px;
    width: 28px;
    margin-top: -1em;
    background: #5c9ee7;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

li:after {
    content: '';
    position: absolute;
    left: -28px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

li:hover:after {
    left: -6px;
    border-left-color: #5c9ee7;
}

button {
    margin-bottom: 10px; /* ボタンの下部に余白を追加 */
}

a {
    text-decoration: none;
    color: #333;
}

/* リンクのホバー時のスタイル */
a:hover {
    color: #007bff;
}

/* リストのスタイル */
li  {
    height: 20px;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333; /* リンクの色 */
}