@charset "UTF-8";

h2 {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    line-height:0.95em;
    font-weight:bold;
    text-shadow: 0 0 0.2em rgba(255,255,255,1);
}

#back a {
  position: relative;
  display: inline-block;
  height: 30px;
  margin-left: 30px;
  padding: 1rem 2rem 1rem 3rem;
  color: #fff;
  background: #007bff;
  font-weight: bold; /* フォントを太くする */
}

#back a:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #007bff transparent transparent;
}

#back a:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

/* main */
#main{
    width: 50%; /* 全体の横幅の90% */
    max-width: 100%; /* 最大幅を設定 */
    margin: 20px auto; /* 上下20px、左右を自動で中央揃え */
    background-color: #ffffff;
    border-radius: 20px; /* 角を丸める */
    box-shadow: 0 0 20px rgba(0,0,0,1); /* 浮き出るように影追加 */
}

#new{
  position: relative;
  display: inline-block;
  padding: 1rem 2rem 1rem 2rem;
  color: #fff;
  border-radius: 0 100vh 100vh 0;
  background: #007bff;
}

#new:before{
  position: absolute;
  top: calc(50% - 7px);
  left: 120px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

#new:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}

#new a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-align: left; /* テキストを左寄せにする */
    font-weight: bold; /* フォントを太くする */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#new a:hover {
    background-color: #0056b3;
}

ul {
    padding: 10px;
    list-style-type: none;
    counter-reset: list;
    list-style: none;
    padding: 10;
    width: 350px;
    font: 14px/1.6 'arial narrow', sans-serif;
    margin: 0 0 0 75px;
    width: 315px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 3px 3px 3px 8px;
    margin: 8px 0 8px 60px;
    background: #f1f8ff;
    color: #333;
    font-weight: bold;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

li:hover {
    /*コンテンツボックスの色*/
    background: pink;
}

li:before {
    content: counter(list);
    counter-increment: list;
    position: absolute;
    left: -35px;
    top: 50%;
    height: 28px;
    width: 28px;
    margin-top: -1em;
    background: #5c9ee7;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

li:after {
    content: '';
    position: absolute;
    left: -28px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

li:hover:after {
    left: -6px;
    border-left-color: #5c9ee7;
}

button {
    margin-bottom: 10px; /* ボタンの下部に余白を追加 */
}

a {
    text-decoration: none;
    color: #333;
}

/* リンクのホバー時のスタイル */
a:hover {
    color: #007bff;
}

/* リストのスタイル */
li  {
    height: 20px;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333; /* リンクの色 */
}

#pagetop {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 0;

}
#pagetop a{
    position: relative;
    display: flex;
    width: 65px;
    height: 65px;
    justify-content: center;
    background:#333333;/*背景の色を変える*/
    transition: opacity .6s ease;
    color: #FFFFFF;/*アイコンの色を変える*/
    align-items: center;
    text-decoration: none;
    font-size: 32px;

}
#pagetop a:hover {
    opacity: .3;
}
@media screen and (max-width:767px) {
#pagetop a {
    width: 50px;
    height: 50px;
}
}