@charset "UTF-8";

#wrapper {
    background-color: blue;
}

h2 {
    font-size: 150px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#title{
    text-underline-offset:5px;
}

#header {
    margin: 40px;
    float: right;
}

#content {
    margin: 40px;
    float: left;
}

h3 {
    font-size: 50px;
    text-shadow:2px 2px 4px rgba(0,0,0,0.5);
    background-color:#fafad2;
}

li.content {
    margin: 25px;
    display: inline-block;
    border: 5px solid black;
}
